body, html {
    margin: 0;
    padding: 0;
    background-color: rgba(209, 121, 39); /* Beige background */
    font-family: 'Forum', serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(209, 121, 39, 0.894); /* Beige background */
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box; /* Ensures padding is included in total width */
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.menu a:hover {
    color: green;
}

.logo img {
    width: 50px; /* Adjust as needed */
}

.social-media {
    text-decoration: none;
}


.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .menu-links {
        display: none;
        position: fixed; /* Changed from absolute to fixed */
        top: 60px; /* Adjust this value based on the height of your menu bar */
        width: 100%; /* Ensure it spans the full width */
        background-color: rgba(209, 121, 39, 0.894);
        box-sizing: border-box;
        padding: 20px; /* Add padding to ensure content isn't touching screen edges */
        text-align: center;
    }

    .menu-links a {
        display: block;
        margin: 10px 0;
        /* Ensure text fits comfortably within viewport */
        font-size: 16px; /* Adjust font size for mobile view */
    }
}

/* Add a class for when the menu is active */
.menu-links.active {
    display: block;
}

.social-media i {
    color: white; /* Icon color */
    font-size: 20px; /* Icon size */
}

.social-media i:hover {
    color: green; /* Icon color on hover */
}

/*Home Page CSS*/
.landing-page {
    background-image: url('LandingImg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* or any color that contrasts with your image */
}

/*Portfolio Page CSS*/

.bodyWebPage{
   margin-top: 30px;
   color: white;

}
.portfolio {
    text-align: center;
    padding: 20px;
}

.portfolio-heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.image-container {
    width: 50%; /* Adjust as needed */
    display: inline-block;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* Ensures the overlay stays within the container */
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); /* Transparent overlay initially */
    transition: background-color 0.5s ease;
}

.image-container:hover::before {
    background: rgba(0, 0, 0, 0.8); /* Dark overlay on hover */
}


.image-container img {
    width: 100%;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1); /* Zoom effect */
}

.image-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for label */
    padding: 5px;
}


